@use '../02-tools/grid' as *;
@use '../02-tools/colors' as *;
@use '../02-tools/breakpoint' as *;

.l-author{

  .wrapper{
    @include device(sm){
      flex-direction: column;
    }
  }

  .img, .content {
    width: grid(6);
    @include device(sm){
      width: auto;
    }
  }

  .img{
    @media screen and (min-width: 768px) and (max-width: 1089px){
      img{
        height: 100%;
        object-fit: cover; 
      }
    }
  }

  h2{
    margin-bottom: .5rem;
    
    & + p{
      margin-bottom: 2.5rem;
    }
  }

  
  .card-list{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    & > :last-child{
      background: p-color(700);
      box-shadow: 0px 8px 16px 0px rgba(23, 0, 0, 0.32);
    }
  
    .card--y:not(:last-child){
      background: #fff;
    }
  }

  
}