@use '../02-tools/grid' as *;
@use '../02-tools/_breakpoint.scss' as *;

.l-about{

  .wrapper{
    flex-direction: column;
  }

  & .wrapper > div{
    display: flex;
    gap: inherit;
    
    @include device(sm){
      flex-direction: column;
    }
  }

  .card--colorful{
    width: grid(4);
    @include device(sm){
      width: fit-content;
    }
  }

  .card--bg{
    width: grid(8);
    @include device(sm){
      width: fit-content;
    }
    
    h3 {
      max-width: 382px;
    }
  }

  ul{
    display: flex;
    gap: inherit;
    @include device(sm){
      flex-direction: column;
    }
    li.card{
      background: #fff;
      width: grid(4);
      
      @include device(sm){
        width: auto;
      }
      
      @media screen and (max-width: 1089px){
        flex-direction: column;
        text-align: center;
      }

      @include device(lg){
        flex-wrap: nowrap;
      }
    }
  }
}