@use '../02-tools/grid' as *;


#l-hero{
  background: linear-gradient(#170000 , #360202);
  padding: 2rem 0;

  .font-xl{
    margin-bottom: .5rem;
  }
  .conteudo > .font-md{
    margin-bottom: 1rem;
  }

  & > div {
    background: #f6f6f6;
    box-shadow: 0 80px 0 #f6f6f6;
    margin: 0 auto;
    max-width: fit-content;
    padding: 0 4rem;
    position: relative;
  }

  .conteudo{
    width: grid(6);
  }

  .imgs{
    width: grid(6);

    & > div {
      display: grid;
      height: 100%;
    }

    .card{
      background: #fff;
      position: sticky;
      width: grid(6);
      z-index: 2;
    }

    .card:first-child{
      align-self: flex-start;
      justify-self: end;
    }

    .card:last-child{
      align-self: end;
    }

    img{
      height: 100%;
      max-height: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}