@use '../02-tools/rem' as *;

.alunos{
  &-lista{
    align-items: center;
    display: flex;
    margin-bottom: rem(32);
    
    & > :not(:first-child){
      margin-left: -12px;
    }
    
    & > :last-child{
      margin-left: rem(16);
    }

    &--icone{
      background: no-repeat url('/assets/icons/others/round-check.svg');
      display: block;
      height: 32px;
      width: 32px;
    }
    
    img{
      border-radius: 50%;
    }

  }
}