@use '../02-tools/color' as *;
@use '../02-tools/grid' as *;


.card{
  padding: 4rem 1.5rem 2rem 1.5rem;
  &--bg{
    background: e-color(100);
  }




  &-list__beneficio{
    display: flex;
    gap: 32px;
  }

  &-beneficio{
    width: grid(4);

    &__header{
      margin-bottom: .75rem;

      h3{
        font-size: 1.5rem;
        line-height: 32px;
      }
    }

    &__icone{
      margin-bottom: 2.5rem;
    }
  }
}