@use '../01-settings/sizes' as border;
@use '../02-tools/color' as *;
@use '../02-tools/grid' as *;
@use '../02-tools/breakpoints' as *;
@use '../02-tools/rem' as *;

$card-images: 'atualizacao', 'aberto', 'comunidade', 'garantia';
$icon-size: 64px;
%card-radius{
  border-radius: border.$radius;  
}

//==================
.card{
  padding: 4rem 1.5rem 2rem 1.5rem;
  @include device(sm){
    padding: rem(64) rem(24);
  }


  &--bg{
    @extend %card-radius;
    background: e-color(100);
  }

  &--border{
    @extend %card-radius;
    border: 1px solid currentColor;
  }

  &__icone{
    display: block;
    height: $icon-size;
    margin-bottom: 2.5rem;
    width: $icon-size;
  }

  @each $img in $card-images{
    &__icone--#{$img}{
      background: no-repeat url('/assets/icons/card/#{$img}.svg');
    }
  }


 

  &__preco--anual{
    position: relative;
  }

}