@use '../01-settings/sizes' as s;
@use '../02-tools/rem' as r;
@use '../02-tools/breakpoints' as *;

.container{
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  max-width: s.$container-max-width + px;
  padding: r.rem(80) 0;

  @include device(sm){
    // max-width: (map-get(s.$breakpoint, "md") - 1) + px;
    flex-direction: column;
    max-width: 100%;
    padding: r.rem(40) r.rem(24);

    & > div {
      max-width: 100% !important;
      width: auto !important;
    }
  }

  @include device(md){
    padding: r.rem(40) r.rem(24);
  }
}