@use '../02-tools/breakpoints' as *;
@use '../02-tools/grid' as *;

.l-benefits{
  .card{
    &-list__beneficio{
      display: flex;
      gap: 32px;
      @include device(sm){
        flex-direction: column;
      }
    }
  
    &-beneficio{
      width: grid(4);
      
      @include device(sm){
        max-width: 100%;
        width: auto;
      }
  
      &__header{
        margin-bottom: .75rem;
  
        h3{
          font-size: 1.5rem;
          line-height: 32px;
        }
      }
    }
  }
  
}