@use '../02-tools/grid' as *;


.l-feedbacks{
  .conteudo{
    width: grid(6);
    & > div{
      top: 80px;
      position: sticky;
    }
  }

 .alunos-lista{
  margin-top: 4rem;
 }

  .feedbacks{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: grid(6);
  }
  
  .feedback__footer{
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    img{
      $img-size: 56px;
      border-radius: 50%;
      height: $img-size;
      width: $img-size;
    }

    & .font-base--b{
      display: block;
    }
  }

  .card__feedback{
    position: sticky;
    top: 80px;
  }
}