@use '../02-tools/grid' as *;
@use '../02-tools/breakpoints' as *;

.l-hero{
  .container{
    align-items: center;
  }
  .conteudo{
    width: grid(7);
  }
  .preco__hero{
    width: grid(5);
    @include device(sm){
      width: 100% !important;
    }
  }
}